<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"></listener>
    </listeners>
    <test name="Sample Test">
        <classes>
            <!-- Add your test classes here -->
            <class name="airlines.AirlinesTest"/>
        </classes>
    </test>
</suite>
